<mat-card class="mt20">
    <h1 class="text-center mt20"><strong>All Attempts</strong></h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form>

                        <table>
                            <tr>
                                <th>User Id</th>
                                <th>Marks Obtained</th>
                                <th>Quiz</th>
                                <th>Category</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>100</td>
                                <td>Java</td>
                                <td>Programming Language</td>
                            </tr>
                        </table>

                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>