<div class="bootstrap-wrapper mt20">
    <div class="container-fluid">
        <h1>Available Quizzes</h1>
        <div class="row mt20" *ngIf="quizzes" >
            <div class="col-md-4 mt10" *ngFor="let q of quizzes">
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>
                            <h1><b>{{ q.title }}</b></h1>
                        </mat-card-title>
                        <mat-card-subtitle class="truncate">
                            <b>Category:</b> {{ q.category.title }}
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="mt10">
                        <p class="truncate">{{ q.description }}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="container text-center mb20 mt10">
                            <div class="row">
                                <!-- <div class="col-md-6">
                                    <button mat-raised-button color="accent">View</button>
                                </div> -->
                                <div class="col-md-4">
                                    <button mat-raised-button color="accent" [routerLink]="'/user-dashboard/quiz/instructions/' + q.qid">Start</button>
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button disabled>Marks {{ q.maxMarks }}</button>
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button disabled>Ques. {{ q.numberOfQuestions }}</button>
                                </div>
                            </div>   
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>