<mat-card class="mt20">
    <h1 class="text-center mt20"><strong>Add New Category</strong></h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form (ngSubmit)="addCategory()">

                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Title</mat-label>
                            <input type="text" 
                            name="title" 
                            [(ngModel)]="category.title"
                            matInput 
                            placeholder="Enter title">
                        </mat-form-field>

                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea name="description"
                            [(ngModel)]="category.description"
                            matInput 
                            rows="10" 
                            placeholder="Enter description"></textarea>
                        </mat-form-field>

                        <div class="container text-center">
                            <button type="submit" mat-raised-button color="accent">Add</button>
                            <button type="reset" mat-raised-button color="accent" class="ml20">Reset</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>