<mat-card *ngIf="user" class="mt20">
    <h1 class="mt20 ml20 text-center"><strong>Profile Details</strong></h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="container text-center">
                    <img src="../../../assets/default.png" alt="" class="all-img" />
                    <h1 class="mt20">{{ user.firstName }} {{ user.lastName}}</h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table text-center">
                            <tr>
                                <th>User Id</th>
                                <td>ExamPortal_{{ user.id }}</td>
                            </tr>
                            <tr>
                                <th>First Name</th>
                                <td>{{ user.firstName }}</td>
                            </tr>
                            <tr>
                                <th>Last Name</th>
                                <td>{{ user.lastName }}</td>
                            </tr>
                            <tr>
                                <th>User Name</th>
                                <td>{{ user.lastName }}</td>
                            </tr>

                            <tr>
                                <th>Email</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th>Phone Number</th>
                                <td>{{ user.phone }}</td>
                            </tr>
                            <tr>
                                <th>Role</th>
                                <td>{{ user.authorities[0].authority }}</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td>{{ user.enabled }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <div class="container text-center">
            <button mat-raised-button color="accent">UPDATE</button>
        </div>
    </mat-card-actions>
</mat-card>