<mat-card class="mt20">
    <h1 class="text-center mt20"><strong>Add New Quiz</strong></h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form (ngSubmit)="addQuiz()">

                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Title</mat-label>
                            <input type="text" 
                            name="title" 
                            [(ngModel)]="quiz.title" 
                            matInput
                            placeholder="Enter title">
                        </mat-form-field>

                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea name="description"
                            [(ngModel)]="quiz.description" 
                            matInput 
                            rows="10"
                            placeholder="Enter description"></textarea>
                        </mat-form-field>

                        <div class="row">

                            <div class="col-md-6">
                                <mat-form-field class="w100" appearance="outline">
                                    <mat-label>Maximum Marks</mat-label>
                                    <input type="text" 
                                    name="maxMarks" 
                                    [(ngModel)]="quiz.maxMarks" 
                                    matInput
                                    placeholder="Enter maximum marks">
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field class="w100" appearance="outline">
                                    <mat-label>Number of Quiestions</mat-label>
                                    <input type="text"
                                    name="numberOfQuestions"
                                    [(ngModel)]="quiz.numberOfQuestions" 
                                    matInput
                                    placeholder="Enter number of questions">
                                </mat-form-field>
                            </div>
                        </div>

                        <mat-slide-toggle [(ngModel)]="quiz.active" name="active">Quiz Status</mat-slide-toggle>

                        <br/>

                        <mat-form-field appearance="fill" class="mt20 w100">
                            <mat-label>Categories</mat-label>
                            <mat-select name="category" [(ngModel)]="quiz.category" >
                                <mat-option *ngFor="let c of categories" [value]="c">
                                    {{ c.title }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class="container text-center">
                            <button type="submit" mat-raised-button color="accent">Add</button>
                            <button type="reset" mat-raised-button color="accent" class="ml20">Reset</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>